.card {
  display: flex;
  flex-wrap: nowrap;
  gap: 2.25rem;
  padding-top: 0.5rem;
  max-width: 100%;
  width: 62.5rem;
  height: 12.773rem;
  padding: 1rem;
  overflow-x: auto;
  width: 100%;
}
.accountBal {
  background-color: var(--primary-600);
  width: 18.25rem;
  height: 9.77rem;
  flex-shrink: 0;
}
.buttonDiv {
  display: flex;
  gap: 10px;
}
.button {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12px;
  padding-right: 5px;
  height: 2rem;
  margin-top: 0.51rem;
}
.group {
  width: 11.81rem;
  height: 9.68rem;
}
.groupButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 2rem;
  width: 10.31rem;
  margin-top: 0.58rem;
}
.infoCard {
  margin-top: 12rem;
  border-radius: 1rem;
  background-color: var(--white);
  width: 20rem;
  padding: 2rem;
}
.cardForm {
  margin-top: 2rem;
}
