
.container {
  max-width: 396px;
  width: 100%;
  height: 300px;
  padding: 1rem;

    .header{
      display: flex;
      justify-content: space-between;
      gap: 12rem;
     
      .headerText,
      &View{
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.07px;
      }
  
      .View{
        text-decoration: none;
      }
  
      @media screen and (max-width: 768px) {
        max-width: 30rem;
        flex-direction: column; 
        gap: 0.70rem; 
      }
  
    }
  
    .goalSection{
  
      .infoSection{
        display: flex;
        justify-content: space-between;
        padding-top: 0.5rem;
  
        .goal{
          display: flex;
          gap: 10px;
          padding: 5px;
  
          .image{
            width: 30px;
          }
          
         .info{
  
          &arget{
            font-size: 14px;  
          }
          
          .amount{
            display: flex;
            padding-top: 3px;
           
            .saved,
            .targetAmount {
              font-size: 14px;          
            }
          
            .targetAmount{
              color:#D9D9D9;
            }
          }
         
         }
        
        }
  
        .percentage{
          font-size: 14px;
          padding-top: 15px;
         
        }
  
  
      }
  
      .dashedLinesContainer {
        display: flex;
        width: 300px;
        padding-top: 15px;
  
        .dashedLine,
        .dashedLineLeft {
          height: 4px;
          width: 150px;
          border-bottom: 4px solid;
          font-weight: bold;
          border-radius: 3px;
          margin: 0 5px;
        }
  
        .dashedLine {
          border-color: #0d72b9;
        }
  
        .dashedLineLeft {
          border-color: #d9d9d9;
        }
      }
  
      @media screen and (max-width: 768px) {
   
        .infoSection {
          flex-direction: column;
          .goal{
            flex-direction: column;
          }
        }
  
        .dashedLinesContainer {
          width: 200px; 
          .dashedLine,
          .dashedLineLeft {
            width: 25%; 
            margin: 0.5rem 0; 
          }
        }
      }
      
    } 
  
  
  
    }
     
   
   
  
  