@import '../../../styles/mixins';

.footer {
  @include px-to-rem(padding, 56, 0);
  background-color: var(--primary-600);
  display: grid;
  gap: 30px;
  color: var(--white);

  &Enquiry {
    line-height: 1.5;
    @include px-to-rem(margin, 40, 0);
  }

  &Socials {
    display: flex;
    gap: 30px;
    margin: 1.5rem 0;
  }

  @media screen and (min-width: 56.25rem) {
    &Logo {
      text-align: center;
    }

    &Enquiry {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    &CopyAndSocials {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }

    &Socials {
      margin: 0;
    }
  }
}
