* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px dotted brown;
}

:root {
  font-family: Inter, sans-serif;
  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* colors */
  --cyan-50: #ECFDFF;
  --cyan-100: #CFF9FE;
  --cyan-200: #A5F0FC;
  --cyan-500: #06AED4;
  --cyan-600: #088AB2;
  --gray1: #828282;
  --gray2: #4F4F4F;
  --gray3: #BDBDBD;
  --gray-50: #F8FAFC;
  --grey-100: #F2F4F7;
  --grey-200: #E5E7EB;
  --grey-300: #D0D5DD;
  --grey-400: #98A2B3;
  --grey-500: #667085;
  --gray-600: #757575;
  --gray-700: #344054;
  --gray-800: #1F2937;
  --gray-900: #101828;
  --mute: #D9D9D9;
  --neutral-50: #F9FAFB;
  --neutral-200: #EEEEEE;
  --neutral-400: #9CA3AF;
  --neutral-500: rgba(100, 116, 139, 1);
  --neutral-800: rgba(25, 29, 35, 1);
  --bg-skyBlue: rgba(8, 138, 178, 0.10);
  --Main-Text: #101828;
  --basic-white: #fff;
  --basic-black: #000;
  --Main-primary: #34A853;
  --green-1: #219653;
  --green-2: #27AE60;
  --green-active: #14B8A6;
  --barChartGreen: rgba(18, 183, 106, 0.72);
  --googleModalHeader: #202124;
  --goodleNames: #3C4043;
  --googleMails: #5F6368;
  --google-blue: #1A73E8;
  --dashboard-blue1: #2F80ED;
  --notificationBlue: #3772FF;
  --blue-500: #3B82F6;
  --dashboardIcons: #292D32;
  --dashboardRed: #DD2E44;
  --Error-500: #F04438;
  --red: #EB5757;
  --red-blocked: #EF4444;
  --Side-bar: #292D32;
  --Teal-100: #CCFBF1;
  --Teal-500: #14B8A6;
  --Light: #FCFCFD;
  --Light2: #EBEFF7;
  --Light3: #DFDFE6;
  --Dark: #23262F;
  --Dark3: #484C56;
  --Value-Color: #0B1354;
  --barChartYellow: rgba(254, 200, 75, 0.72);
  --yellow-suspended:  #EAB308;



  /* gradients */
  --dashboardCharts: linear-gradient(180deg, #088AB2 -63.4%, rgba(255, 255, 255, 0.00) 100%);


}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

body {
  /* Hide scrollbar for IE, Edge add Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

.container {
  width: 100%;
  max-width: 1278px;
  padding: 0 10px;
  margin: 0 auto;
}

.container-dashboard {
  margin: 0 0;
}

@media screen and (min-width: 900px){
  .container {
    padding: 0 20px;
  }
}

