* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px dotted brown;
}

:root {
  font-family: Inter, sans-serif;
  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  /*colors*/
  --cyan-500: #fff;
  --cyan-600: #088AB2
}

h1, h2, h3 {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

body {
  /* Hide scrollbar for IE, Edge add Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

.container {
  width: 100%;
  max-width: 1278px;
  padding: 0 10px;
  margin: 0 auto;
}

.container-dashboard {
  margin: 0 0;
}

@media screen and (min-width: 900px){
  .container {
    padding: 0 20px;
  }
}

