* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*outline: 1px dotted brown;*/
}

:root {
  font-family: Inter, sans-serif;
  /*color-scheme: light dark;*/

  /* colors */
  --white: #fff;
  --black: #000;

  --primary-50: #ecfdff;
  --primary-100: #cff9fe;
  --primary-200: #a5f0fc;
  --primary-500: #06aed4;
  --primary-600: #088ab2;

  --gray-1: #828282;
  --gray-2: #4f4f4f;
  --gray-3: #bdbdbd;
  --gray-50: #f8fafc;
  --gray-100: #f2f4f7;
  --gray-200: #e5e7eb;
  --gray-300: #d0d5dd;
  --gray-400: #98a2b3;
  --gray-500: #667085;
  --gray-600: #757575;
  --gray-700: #344054;
  --gray-800: #1f2937;
  --gray-900: #101828;

  --mute: #d9d9d9;

  --neutral-50: #f9fafb;
  --neutral-200: #eeeeee;
  --neutral-400: #9ca3af;
  --neutral-500: rgba(100, 116, 139, 1);
  --neutral-800: rgba(25, 29, 35, 1);

  --bg-skyBlue: rgba(8, 138, 178, 0.1);

  --text-black: #101828;
  --text-gray: var(--gray-400);

  --green-active: #14b8a6;
  --Main-primary: #34a853;
  --green-2: #27ae60;
  --green-1: #219653;
  --barChartGreen: rgba(18, 183, 106, 0.72);

  --googleModalHeader: #202124;
  --goodleNames: #3c4043;
  --googleMails: #5f6368;

  --google-blue: #1a73e8;
  --dashboard-blue1: #2f80ed;
  --notificationBlue: #3772ff;
  --blue-500: #3b82f6;

  --dashboardIcons: #292d32;

  --red: #eb5757;
  --red-blocked: #ef4444;
  --Error-500: #f04438;
  --dashboardRed: #dd2e44;

  --Side-bar: #292d32;

  --Teal-100: #ccfbf1;
  --Teal-500: #14b8a6;

  --Light: #fcfcfd;
  --Light2: #ebeff7;
  --Light3: #dfdfe6;

  --Dark3: #484c56;
  --Dark: #23262f;
  --Value-Color: #0b1354;

  --barChartYellow: rgba(254, 200, 75, 0.72);
  --yellow-suspended: #eab308;

  /* gradients */
  --dashboardCharts: linear-gradient(
    180deg,
    #088ab2 -63.4%,
    rgba(255, 255, 255, 0) 100%
  );
}

body {
  /* Hide scrollbar for IE, Edge add Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

.app-logo {
  font-size: 2rem;
  font-weight: 500;
  color: var(--primary-600);
}

.container {
  width: 100%;
  max-width: 1278px;
  padding: 0 10px;
  margin: 0 auto;
}

.container-dashboard {
  margin: 0 0;
}

@media screen and (min-width: 900px) {
  .container {
    padding: 0 20px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    /*color: #213547;*/
    /*background-color: #ffffff;*/
  }
}
