@import '../../../styles/mixins';

.button {
  border-radius: 5px;
  border: none;
  @include px-to-rem(padding, 12, 18);
  font-size: 1em;
  font-weight: 500;
  font-family: Inter, sans-serif;
  background-color: var(--cyan-600);
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
  text-transform: capitalize;

  &Rounded {
    border-radius: 30px;
  }

  &:hover {
  }

  &:focus,
  &:focus-visible {
  }
}

@media (prefers-color-scheme: dark) {
  .button {
  }
}
