.container {
  margin-top: 20px;

  &Card {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: white;
    padding: 10px 10px 10px 10px;
    overflow-x: auto;
    gap: 20px;

    .label,
    .value {
      font-size: 14px;
    }

    .value {
      font-weight: bold;
      padding-top: 10px;
    }
  }

  @media (min-width: 48rem) {
    width: 40%;
  }
}

// .firstCard {
//   max-width: 100%;
//   background: white;
//   border: 1px solid #ccc;
//   border-radius: 10px;
//   padding: 20px 0 10px 10px;
//   border-collapse: collapse;
//   display: block;
//   white-space: nowrap;
//   overflow-x: auto;
// }

// .leftCard {
//   display: flex;
//   padding: 10px;
// }

// .right {
//   margin-left: 80px;
// }

// .left,
// .right {
//   flex: 1;
// }

// .leftOne,
// .rightOne {
//   letter-spacing: 0.15px;
// }

// .rightOne {
//   font-weight: bold;
//   padding-top: 5px;
// }

// .left {
//   min-width: 80px;
// }
