.container {
  margin-top: 20px;

  &Card {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: white;
    padding: 10px 10px 10px 10px;
    overflow-x: auto;
    gap: 20px;

    .label,
    .value {
      font-size: 14px;
    }

    .value {
      font-weight: bold;
      padding-top: 10px;
    }

    .flow {
      display: flex;
      gap: 8px;
      align-items: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      text-decoration: none;
      line-height: 140%;
      letter-spacing: 0.15px;
    }
  }

  @media (min-width: 48rem) {
    width: 40%;
  }
}
