.container {
  margin-top: 20px;

  &Card {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: white;
    padding: 10px 10px 10px 10px;
    overflow-x: auto;
    gap: 20px;

    .label,
    .value {
      font-size: 14px;
    }

    .value {
      font-weight: bold;
      padding-top: 10px;
    }
  }

  @media (min-width: 48rem) {
    width: 40%;
  }
}
