.modal {
  width: 600px;
  position: absolute;
  background-color: var(--white);
  padding: 32px 40px;
  top: 0;
  right: 0;
  bottom: 0;
  &Header {
    position: sticky;
    top: 0;
    padding: 10px;
    width: calc(100% + 80px);
    transform: translate(-40px, -24px);
    text-align: center;
    background-color: var(--primary-600);
    color: var(--white);
    z-index: 5;
    &Btn {
      background-color: transparent;
      border: none;
      color: var(--white);
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
.container {
  &HeaderText {
    text-align: start;

    &Big {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
  .form {
    margin: auto;
    padding-top: 32px;
  }
  .Bvn,
  .Address,
  .Idnumber,
  .IdDocs,
  .IdAddress,
  .flex,
  .Dob,
  .occupation,
  .Identity {
    width: 100%;
    margin-bottom: 15px;
  }
  .IdDocs {
    width: 100%;
    height: 129px;
    border: 2px dashed var(--gray-400);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .IdPreviewImg,
  .proofOfAddressPreviewImg {
    width: 100%;
    height: 200px;
  }
}

@media (min-width: 600px) {
  .container {
    &HeaderText {
      margin: auto;
      width: 374px;
      &Big {
        font-size: 24px;
        margin-bottom: 10px;
      }
      &Small {
        text-align: center;
      }
    }
    .flex,
    .Dob {
      width: 230px;
    }
    .occupation,
    .Identity {
      width: 250px;
    }
    .Bvn,
    .Address,
    .Idnumber,
    .IdDocs,
    .IdAddress {
      margin-bottom: 20px;
    }
  }
  .flexDiv {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    gap: 24px;
    justify-content: space-between;
  }
  .IdPreviewImg,
  .proofOfAddressPreviewImg {
    width: 100%;
    height: 200px;
  }
}
