.header {
  display: flex;
  align-items: center;
  > button {
    background: none;
    border: none;
    margin-right: 20px;
  }
  & > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 82px;
  }
  &SearchInput {
    position: relative;
    // width: 30%;
  }
  &SearchIcon {
    position: absolute;
    left: 15px;
    top: 35%;
    z-index: 10;
  }
  &SearchPlaceholder {
    padding-left: 50px;
    border-radius: 24px;
  }
  &Image {
    display: flex;
    margin-right: 100px;
    align-items: center;
    cursor: pointer;
  }
  &Text {
    margin-left: 8px;
  }
  &Profile {
    display: none;
    position: absolute;
    top: 8%;
    line-height: 2;
    background-color: #fff;
    padding: 10px;
    z-index: 20;
    border-radius: 4px;
    cursor: pointer;
    &.visible {
      display: block;
    }
  }
  @media (max-width: 600px) {
    &Text {
      display: none;
    }
    &SearchInput {
      width: 70%;
    }
    & > div {
      margin-left: 4px;
      gap: 100px;
    }
  }
  @media (max-width: 800px) {
    &SearchInput {
      width: 40%;
    }
    & > div {
      margin-left: 40px;
      gap: 100px;
    }
  }
  @media (max-width: 400px) {
    &SearchInput {
      width: 50%;
    }
    & > div {
      margin-left: 4px;
      gap: 50px;
    }
  }
}
