.reset {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  gap: 40px;

  &TopText {
    font-weight: 700;
    line-height: 2.1rem;
  }
  &TopSubText {
    margin: 0.5rem 0 2rem 0;
  }
  &Footer {
    display: flex;
    justify-content: space-between;
    margin-top: 16.5rem;
  }
  @media screen and (min-width: 600px) {
    &Footer {
      padding: 0 20rem;
    }
  }
}
