.layout {
  display: grid;
  min-height: 100dvh;
  padding: 2rem;
  grid-template-rows: auto 1fr;

  &Logo {
    margin-bottom: 1rem;
  }

  &Content {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
  }
}


.reset {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & > p, h {
    text-align: center;
  }

  > form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
