.layout {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100dvh;

  &Bg {
    display: none;
  }

  &Form {
    display: grid;
    grid-template-rows: 1fr auto;

    > section > div {
      max-width: 500px;
      margin: 6rem auto 0;
      padding: 0 20px;
    }

    > footer {
      margin-top: 20px;
    }
  }

  @media screen and (min-width: 62.5rem) {
    grid-template-columns: 1fr 1fr;

    &Bg {
      display: block;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  font-size: 1rem;
}