/* ProgressBar.css */

.progressBar {
    position: relative;
    padding-top: 1rem;
  }
  
  .progressBar > div {
    margin-bottom: 0.5rem;
  }
  
  .progressBar > div > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }
  
  .progressBar .label {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 9999px;
    color: #2b6cb0;
    background-color: #e2e8f0;
  }
  
  .progressBar .percentage {
    display: inline-block;
    font-size: 0.75rem;
    font-weight: 600;
    color: #2b6cb0;
  }
  
  .progressBar .filler {
    display: flex;
    height: 2px;
    margin-bottom: 0.5rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e2e8f0;
  }
  
  .progressBar .filler > div {
    display: flex;
    flex-direction: column;
    text-align: center;
    white-space: nowrap;
    justify-content: center;
    background-color: #2b6cb0;
    color: #fff;
  }
  