.cardContainer {
  padding-bottom: 4.375rem;
  width: 100%;
  max-width: 28.75rem;
  max-height: 19.375rem;
  margin: auto;
  background: var(--white);
  border-radius: 20px;
  &Icon {
    text-align: end;
    margin: 14px 14px;
  }
  .cardBody {
    text-align: center;
    margin: 0 3.5rem;
    &Logo {
      width: 4.375rem;
      height: 4.375rem;
      border-radius: 50%;
      background: var(--primary-50);
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &Text {
      margin: 1.375rem 0;
    }
  }
}
