@import '../../../styles/mixins';

.button {
  border-radius: 8px;
  border: none;
  @include px-to-rem(padding, 12, 18);
  font-size: 1rem;
  font-weight: 500;
  font-family: Inter, sans-serif;
  background-color: var(--primary-600);
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;

  > svg {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    color: inherit;
  }

  &Rounded {
    border-radius: 30px;
  }

  &:active {
    background-color: var(--primary-500);
  }
  &:disabled {
    background-color: var(--gray-300);
  }
  &IsLoading {
    pointer-events: none;
  }
}
