.setTargetContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &Text {
    text-align: center;
    padding-top: 0.2rem;
    &Create {
      margin-top: 0.5rem;
      width: 20rem;
    }
  }
  &Input {
    width: 100%;
    margin-top: 1rem;
    label {
      margin-top: 1.5rem;
    }
    &Category {
      position: relative;
      ul {
        list-style-type: none;
        padding: 10px;
        margin: 0;
        position: absolute;
        z-index: 10;
        width: 100%;
        color: #fff;
        background: #088ab2;
        border-radius: 5px;
        li {
          padding: 2px 2px;
          cursor: pointer;
        }
      }
    }
    Button {
      margin-top: 1.5rem;
      width: 100%;
    }
  }
}
