.container {
    margin-bottom: 20px;
    position: relative;

    &Textarea {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border-radius: 8px;
        border: 1px solid var(--gray-300);
    }

    &Label {
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: $label-margin;
        color: var(--text-black);
        text-transform: capitalize;
    }


       
  }
  
