.feedbackContainer {
  text-align: center;
  padding: 5rem 2rem;
  background: var(--gray-100);
}
.whatUsersSay {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.singleFeedbackContainer {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
}

.singleFeedback {
  background: white;
  border-top: 2px solid #088ab2;
  margin-bottom: 3rem;
  line-height: 22.4px;
  padding: 2rem 1.5rem 0.5rem 1rem;
  border-bottom: 1px solid white;
  text-align: start;
  position: relative;
  height: auto;
  width: auto;
  z-index: 5;
}

.polygon {
  position: absolute;
  bottom: -1.3rem;
}
