@import '../../../styles/mixins';

.section {
  @include px-to-rem(margin-top, 30);
  @include px-to-rem(margin-bottom, 30);
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;

  img {
    width: 100%;
    height: auto;
  }

  .header {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 48rem) and (max-width: 63.94px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: 64rem) {
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    @include px-to-rem(padding-top, 30);
    @include px-to-rem(padding-bottom, 30);

    .image {
      margin-top: 1.2rem;
    }
  }
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  &Item {
    display: flex;
    gap: 1.25rem;

    > p {
      white-space: nowrap;
      background-color: var(--primary-100);
      width: 30px;
      height: 30px;
      min-width: 30px;
      min-height: 30px;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
    }
    > div p:first-child {
      margin-bottom: 0.5rem;
    }
  }
}
